.resena-item {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.resena-item h3 {
  margin: 0 0 5px;
}

.resena-item .fecha {
  display: block;
  margin-top: 8px;
  font-size: 0.8em;
  color: #777;
}
